DISCORD_PUBLIC_KEY=
DISCORD_APPLICATION_ID=
DISCORD_BOT_TOKEN=
# Optional. If set, commands register to this guild (instant). If unset, they
# register globally (up to ~1h propagation).
DISCORD_GUILD_ID=
# Optional. The Server Access SKU. The bot will be free to use in any guild if
# this is not provided.
DISCORD_CONSUMABLE_SKU=
# Optional. A JSON array of users that do not need to buy Server Access to
# provide it to a guild.
ALWAYS_FREE_USERS=